@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Roboto Mono", monospace !important;
  scroll-behavior: smooth;
}

.body{
  background-image: url('/background.png');
}

.customUnderline {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #bdbdbd 50%);
}